
        <div class="footer-container">
            <footer class="wrapper">
            <img src="{{ "/business/marketing/images/wobgophers_v1.png" | prepend: site.baseurl }}" class="footerimage" width="300" height="169" />
                <h3>{{ site.description }}</h3>
                <nav>
                  <ul>
                      <li class="nested-header"><h2><a href="#">project</a></h2>
                          <ul>
                              <li><a href="https://github.com/cprior/go-gae-intro">Repository</a></li>
                              <li><a href="https://github.com/cprior/go-gae-intro/issues">Issues</a></li>
                              <li><a href="{{ "/impressum.html" | prepend: site.baseurl }}">Impressum (de)</a></li>
                          </ul>
                      </li>
                  </ul>
                </nav>
            </footer>
        </div>
